.idea
*.pem
*.pyc
src/static_root/
*dev.py
*.sqlite3
./venv
.venv
./venv/
venv/
db-data/
*.pid
*.log
src/media
./.vscode
.vscode
./.vscode/
config/nginx/keys/
debug.log

src/media_root

src/static/css/bundle.css
src/static/js/bundle.js
src/static/css/vendor.css
src/static/js/vendor.js

!./.vscode/launch.example.json
!./.vscode/settins.example.json

!_server_preset_files/*